﻿<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <form class="form-inline col-lg-12 col-md-12 col-sm-12 col-xs-12 h-50">
                    <div class="form-group ">
                        <label for="staticEmail2" class="sr-only">Semester</label>
                              <a class="dropdown btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown link
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        <button type="submit" class="btn btn-primary mb-2">Check</button>
                    </div>
                </form>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Courses in CBA but not in LMS
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <table id="mainTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>CBA Code</th>
                                        <th>Department Title</th>
                                        <th>Course Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each courses}}
                                        <tr>
                                            {{#each this}}
                                                <td>{{this}}</td>
                                            {{/each}}
                                        </tr>        
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>