    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <i class="material-icons">update</i>
                <span class="text">DASHBOARD</span>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="/departmentsMain/CS">
                    <div class="info-box bg-pink hover-expand-effect">
                      
                        <div class="icon">
                            <i class="material-icons">description</i>
                        </div>
                        <div class="content">
                            <div class="text">Computer Science</div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="/departmentsMain/ME">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">search</i>
                        </div>
                        <div class="content">
                            <div class="text">Mechanical Engineering</div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="/departmentsMain/EE">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">library_add</i>
                        </div>
                        <div class="content">
                            <div class="text">Electrical Engineering</div>
                           
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="/departmentsMain/MS">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">system_update</i>
                        </div>
                        <div class="content">
                            <div class="text">Management Sciences</div>
                        </div>
                    </div>
                </a>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="/departmentsMainIT">
                    <div class="info-box bg-purple hover-expand-effect">
                      
                        <div class="icon">
                            <i class="material-icons">description</i>
                        </div>
                        <div class="content">
                            <div class="text">IT Department</div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>